table {
    background-color: rgba(230, 222, 163, 0.685); 
}
label {
    margin-right: 10px;
    margin-top: 12px;
}
input {
    margin-right: 30px;
}
button {
    margin: 5px 20px 5px 0px;
}
h3 {
    margin: 15px 0px;
}
